# output 
output/
# vscode 
.vscode/

# build dir 
build/
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
# *.obj # for mesh resources

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
# *.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
